*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
    background-color:#C1C1C1;
    font-family:arial;
    height:100vh;
  }
  @media (min-width:400px) {
    body{
    font-size: 16px;
    }
  }
  header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu{
    background-color : #D16666;  
    position: fixed;
    width: 100vw;
    top: 0;
  } 
  .menu ul {
    display:flex;
    justify-content:space-around;
  }
  .menu a{
    text-decoration:none;
    color:#2C4251;
    display: block;
    padding: 10px 20px;
  }
  a:hover{
    text-decoration:underline;
  }
  .menu li {
    font-weight:bold;
    list-style:none;
  }
  .site-title , .site-subtitle{
    color:#2C4251;
    text-align:center;
  }
  .site-title{
    font-size: 4em;
  }
  
  .site-subtitle{
    font-style:italic;
    
  }
  .img-portfolio{
    height: 180px;
    width: 180px;
  }
  .portfolio{
    padding: 2em;
  }
  .portfolio h2{
    font-size: 1.5em;
    color:#2C4251;
    font-weight:bold;
    text-transform: uppercase;
  }