
*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
    background-color:#C1C1C1;
    font-family:arial;
    height:100vh;
  }
  @media (min-width:400px) {
    body{
    font-size: 16px;
    } 
  }
  @media (min-width:560px) {
    .portfolio .grid{
      grid-template-columns: 240px 240px;
    }
  }
  @media (min-width:880px) {
    .portfolio .grid{
      grid-template-columns: repeat(3,260px);
      align-content:center;
      justify-content: center;
      height: 100vh;
    }
  }
  header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu{
    background-color : #D16666;  
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
  } 
  .menu ul {
    display:flex;
    justify-content:space-around;
  }
  .menu a{
    text-decoration:none;
    color:#2C4251;
    display: block;
    padding: 10px 20px;
   transition: background-color , color, 0.5s;
  }
  .menu a:active,
  .menu a:hover{
    background-color: #47677c;
  }
  a{
    text-decoration: none;
    color:#C1C1C1 ;
  }
  a:hover{
    text-decoration:underline;
  }
  .menu li {
    font-weight:bold;
    list-style:none;
  }
  .site-title , .site-subtitle{
    color:#2C4251;
    text-align:center;
  }
  .site-title{
    font-size: 4em;
  }
  
  .site-subtitle{
    font-style:italic;
    
  }
  .img-portfolio{
    height: 180px;
    width: 180px;
    object-fit: cover;
    transition: transform 500ms;
  }
  .img-portfolio:active,
  .img-portfolio:hover{
    transform: scale(1.2);
    

  }
  .sobre,
  .contato,
  .portfolio{
    padding: 2em;
    min-height: 100vh;
    font-family: 'Hind Siliguri', sans-serif;
    margin-left: auto ;
    margin-right: auto;
  }
  @media(min-width : 1200px){
    .container{
      max-width: 1200px;
      margin-left: auto ;
      margin-right: auto;
    }
  }
  .sobre h2,
  .contato h2,
  .portfolio h2{
    margin: 10px;
    font-size: 1.5em;
    color:#2C4251;
    font-weight:bold;
    text-transform: uppercase;
    text-align: center;
    
  }
  .sobre p {
    color: #2C4251;
    text-indent: 1.4em;
    text-align: justify;
    margin-bottom: 1.4em;

  }
  .sobre a{
    color: #D16666;
    text-decoration:underline;
    font-style: italic;
  }
  .sobre a:hover{
    background-color: #b0b6b9;
  }
  .sobre .avatar{
    float: right;
    margin-left: 2em;
  }
  .sobre .avatar img{
   
  }
  .portfolio figcaption{
    font-weight:bold;
    text-transform: uppercase;
    
  }
  .portfolio .grid{
    display: grid;
    gap :2em;
    
  }
  
  .contato a {
    color:#D16666 ;
    font-size: 3em;
    text-decoration:none;
    transition: text-shadow,1s;
  }
  .contato .icons{
    text-align: center;
  }
  .contato a:active,
  .contato a:hover{
    text-shadow: 0px 0px 10px #2C4251;
  }
  #fotoAndre{
    weight : 25px;
  }
